name: CI - Check dependencies PR

on:
  schedule:
    # At 7:30 every Monday (5:30 UTC)
    - cron: "30 5 * * 1"
  workflow_dispatch:

jobs:
  check-dependencies:
    name: External
    uses: SINTEF/ci-cd/.github/workflows/ci_check_pyproject_dependencies.yml@v2.8.3
    if: github.repository_owner == 'SINTEF'
    with:
      git_username: "TEAM 4.0[bot]"
      git_email: "Team4.0@SINTEF.no"
      target_branch: "ci/dependency-updates"
      python_version: "3.10"
      install_extras: "[dev]"
      pr_labels: "CI/CD,skip_changelog"
      # Ignore all further major version updates for NumPy, i.e., keep it at 1.x.x
      ignore: |
        dependency-name=numpy...update-types=version-update:semver-major
    secrets:
      PAT: ${{ secrets.TEAM40_PAT }}
